* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background: url(../imgs/night_sky.jpg) no-repeat center center fixed;

    background-size: cover;
}

.main_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    margin: 1.8rem 0;
}

.weather_info,
.extra_info,
.time_info {
    border: 2px solid violet;
    border-radius: 15px;
    padding: 20px;

    box-shadow: 8px 8px 10px violet;

    * {
        font-weight: bold;
        font-size: 1.1rem;
        color: white;
    }
}

.left_bar,
.right_bar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

/* Wheather info starts here */

.weather_info {
    max-width: 80vw;

    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-items: center;

    * {
        font-size: 1.5rem;
    }

    .name {
        font-size: 2rem;
        align-self: start;
    }

    .icon {
        width: 150px;
    }

    .min_max {
        display: flex;
        gap: 15%;

        * {
            font-size: 1.2rem;
            max-width: 200px;
            min-height: 10%;
            text-align: center;
        }
    }
}

/* Wheather info ends here */

/* Extra info starts here */

.extra_info {
    text-align: center;

    display: flex;
    justify-content: space-between;
    gap: 10%;

    max-width: 90vw;
}

/* Extra info ends here */

/* Time info starts here */

.time_info {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

    max-width: 90vw;

    * {
        font-size: 2.5rem;
    }
}

.sunrise_container,
.sunset_container {
    display: flex;
}

/* Time info ends here */

/* Input starts here */

.input {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0;

    .input_city {
        outline: none;
        width: 100%;
        padding: 10px 35px 10px 15px;
        border: none;
        border-radius: 100px;

        box-shadow: 5px 5px 10px violet;
        font-size: 1.2rem;
    }

    .search_city {
        background: transparent;
        border: none;
        outline: none;
        margin-left: -33px;

        cursor: pointer;

        img {
            object-fit: cover;
        }
    }
}

/* Input ends here */

/* Extras start */

.credits {
    color: white;
    position: relative;

    text-align: right;

    a {
        color: rgb(228, 104, 228);
    }
}

.loading_icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

/* Extras end */

@media (min-width: 50em) {
    .main_container {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        gap: 2rem;

        margin: 10px 0;

        .left_bar {
            display: flex;
            justify-content: center;
        }

        .right_bar {
            display: flex;
            align-items: stretch;
            gap: 3rem;

            margin-right: 2rem;
        }
    }

    .weather_info {
        gap: 1.8rem;
    }

    .time_info {
        * {
            font-size: 5vw;
            flex-wrap: wrap;
        }
    }

    .input {
        position: relative;

        order: 2;
    }

    .credits {
        position: absolute;
        top: 0;
        right: 0;
    }
}
