* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background: url(../imgs/night_sky.jpg) no-repeat center center fixed;

    background-size: cover;
}

.main_container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.weather_info,
.extra_info,
.time_info {
    border: 2px solid violet;
    border-radius: 15px;
    padding: 20px;

    box-shadow: 8px 8px 10px violet;
}

/* Wheather info starts here */

.weather_info {
    margin-left: -50%;

    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-items: center;

    width: clamp(20%, 30%, 40%);
}

.weather_info *,
.extra_info *,
.time_info * {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}

.weather_info * {
    font-size: 1.5rem;
}

.weather_info .name {
    font-size: 2rem;
    align-self: start;
}

.weather_info .icon {
    width: 150px;
}

.weather_info .min_max {
    display: flex;
    gap: 15%;
}

.weather_info .min_max > * {
    max-width: 200px;
    min-height: 10%;
    text-align: center;
}

/* Wheather info ends here */

/* Extra info starts here */

.extra_info {
    text-align: center;

    display: flex;
    justify-content: space-between;
    gap: 10%;

    position: fixed;
    right: 5%;
    bottom: 5%;
}

/* Extra info ends here */

/* Time info starts here */

.time_info {
    position: fixed;
    right: 5%;
    top: 5%;

    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.time_info * {
    font-size: 4rem;
}

.sunrise_container,
.sunset_container {
    display: flex;
}

/* Time info ends here */

/* Input starts here */

.input {
    position: fixed;
    right: 15%;

    display: flex;
    flex-direction: row;
}

.input_city {
    outline: none;
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;

    box-shadow: 5px 5px 10px violet;
    font-size: 1.2rem;
}

.search_city {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;

    cursor: pointer;
}

.search_city img {
    object-fit: cover;
}

/* Input ends here */

/* Extras start */

.credits {
    color: white;
    position: fixed;
    top: 0;
    right: 0;
}

.credits a {
    color: rgb(228, 104, 228);
}

.loading_icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

/* Extras end */
